/* .ColorPicker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 5%;
    gap: 5%;
}

Editor {
    display: flex;
    flex-direction: row;
}

@media (max-width: 500px) {
    .Editor {
        flex-direction: column;
    }
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.Title {
    margin-bottom: 2%;
    text-align: center;
} */
